* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
p {
  color: white;
  animation-name: what;
  animation-duration: 0.6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes what {
    0% {
font-size: 40px;
      size: 20px;
      font-weight: 800;
    }
    100% {
      font-size: 60px;
      color: rgb(255, 0, 0);
    }
  }
  
body {
  background-color: rgb(104, 104, 187);
}
.divone {
  width: 100px;
  height: 100px;
  margin: 200px auto;
  padding: 20px;
}
